name: Deploy To EC2

on:
  push:
    branches:
      - stage

jobs:
  Deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. 코드 체크아웃
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. JDK 17 설정
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'corretto'

      # 3. Gradlew 실행 권한 부여
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # 4. GitHub Actions 서버에서 빌드
      - name: Build with Gradle
        run: ./gradlew clean build -x test

      # 5. 빌드된 jar 파일을 EC2로 전송
      - name: Copy jar to EC2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          source: "build/libs/*SNAPSHOT.jar"
          target: "/home/ec2-user/BookingFresh/"

      # 6. EC2에서 애플리케이션 재시작
      - name: Restart application on EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script: |
            cd /home/ec2-user/BookingFresh
            sudo fuser -k -n tcp 8080 || true
            nohup java -jar -Dspring.profiles.active=prod build/libs/*SNAPSHOT.jar > ./output.log 2>&1 &