name: Deploy To EC2

on:
  push:
    branches:
      - stage

jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH(원격 접속)로 EC2 접속하기
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script_stop: true
          script: |
            cd /home/ec2-user/BookingFresh
            git pull origin stage
            
            ./gradlew build -x test
            sudo fuser -k -n tcp 8080 || true
            
            # prod 프로파일로 실행
            nohup java -jar -Dspring.profiles.active=prod build/libs/*SNAPSHOT.jar > ./output.log 2>&1 &